$primary: #FFC017;

$black-100: #1A1919;
$black-90: #252525;
$black-80: #333333;
$black-70: #4D4D4D;
$black-60: #666666;
$black-50: #808080;
$black-40: #A5A5A5;
$black-30: #C9C9C9;
$black-20: #DEDEDE;
$black-15: #EDEDED;
$black-10: #F6F6F6;
$black-00: #FFFFFF;

$green: #6FCF97;
